:root {
    --button-color: #e7272d;
    --button-text: #fff;
  }
#nav-bar {
    position: fixed;
    top: 0;
}
#flexbox {
    height:200px;
    display: flex;
}
#flexbox .box1 {
    background-color: rgb(218, 176, 9);
    width:50%;
    height:70%;
}
#flexbox .box2 {
    background-color: #e7272d;
    width:50%;
    height:70%;
}
#submit {
    background-color: var(--button-color,#e7272d);
    color: var(--button-text, #fff);
}

@media (max-width: 550px) {
    #submit {
        --button-color: #fff;
        --button-text: #e7272d;
    }
}